# Ignore build folders
.vs
.vscode
bin
obj

publish/

# Ignore user-specific files
*.user


# Ignore generated codes
generate/

# Ignore environment files
appsettings.Development.json
appsettings.Production.json

.env

backups/

.DS_Store