
services:
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - firefly-insights-network
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgweb:
    image: sosedoff/pgweb
    ports:
      - "8081:8081"
    environment:
      # for some reason, pgweb can't take the env variable from .env file, so hardcode password here
      - PGWEB_DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable
      - PGWEB_SERVER_PORT=8081
      - PGWEB_SERVER_HOST=0.0.0.0
    command: ["--bind=0.0.0.0", "--listen=8081"]
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - firefly-insights-network

networks:
  firefly-insights-network:
    driver: bridge

volumes:
  postgres-data:
